h2 { /* Required because global is text-align: center; */
    text-align: left;
    line-height: 1; /* Can this be global? */
}

/*------- # of Portions Section Start */
.portions_input {
    width: 300px;
}

/*------- Ingredients Section Start */

.ingredient_row p { 
    text-align: left; 
    line-height: 1;
}

#item_delete { /* Aligns the icon to the right */
    position: absolute; 
    right: 0; 
    color: var(--orange);
    font-size: 20px;
    vertical-align: middle;
    line-height: 1;
} 

#ingredient_description {
    min-width: 53%; /* Most appropriate width to allow following elements to fit */
    word-wrap: break-word;
}
@media (max-width: 768px) { /*------- Media queries to make Ingredients search input fit all devices. */
#ingredient_description  {
    min-width: 85%;
    }
}

#batch_total_section {
    white-space:nowrap; /* needed? */
}

#batch_total_ti, #per_portion_ti {
    width: 70px;
    margin-left: 0.5rem; /* These need to be looked at as once size ain't fitting all */
}

#batch_total_ti2 { /* This class name needs to be changed as do possibly others surrounding */
    width: 130px;
}

@media (max-width: 768px) { /*------- Used to force following div onto next line */
.other_cook_method2 {
    width: 100%;
    }
}

.batch_total_section2{ /*------- Adds space between it and previous */
    margin-left: 50px;
}
@media (max-width: 768px) { /*------- removes 10% margin when bumped onto its own line. */
.batch_total_section2 {
    margin-left: 0;
    }
}

/*------- used to align Measurements */
@media (max-width: 1100px) { 
.section_in>.batch_total_section3 {
    margin-right: 50%;
    margin-left: 0;
    margin-top: 0.5rem;
    }
}
@media (max-width: 768px) { 
.section_in>.batch_total_section3 {
    margin-right: 25%;
    }
}
@media (max-width: 415px) { 
.section_in>.batch_total_section3 {
    margin-right: 0%;
    }
}

/*------- These control the input names for Measurements section width. */
#batch_total_ti2.portions_p {
    width: 100px;
}
#batch_total_ti2.batch_p {
    width: 147px;
}
#batch_total_ti2.weight_p {
    width: 150px;
}

#batch_total_unit, #per_portion_unit {
    width: 1% 
}

#batch_total_ti p, #per_portion_ti p, #batch_total_unit p, #per_portion_unit p {
    font-size: 12px;
    line-height: 2.35; /* Makes them line-up with everything else on the row */ 
}

#batch_total_unit, #per_portion_unit {
    width: 2%;
    margin-left: 2px;
}

#ingredient_totals p {
    text-align: center;
    margin-top: 0.5rem;
}

.search_name_input {
    width: 40%;
    margin: 1rem auto;
}

@media (max-width: 768px) { /*------- Media queries to make Ingredients search input fit all devices. */
div .search_name_input  {
    width: 50%;
    }
}

@media (max-width: 767px) {
div .search_name_input  {
    width: 95%;
    }
}


/*---------------------------------- Cooking Section Start */

.advanced_container, .advanced_option, .row.justify-content-md-center {
    width: 100%;
}

/* Brick buttons */
.row.justify-content-md-center {
    background-color: var(--white);
    width: 100%;
    margin: 0;
}

p.advanced_option { /*------- Brick Buttons Section title. */
    text-align: left;
    width: 95%;
    margin: 1rem auto;
    font-weight: 500;
    line-height: 1;
    color: var(--white);
}

.col { /*------- Brick Buttons */
    background-color: var(--white);
    border: 0.5px solid var(--orange);
    text-align: center;
    white-space: nowrap;
}

#other_cook_method {
    text-align: left;
    color: var(--white);
}

#other_cook_method input{
    border: 1px solid var(--orange);
}

.nutritional_container {
    margin: auto;
    max-width: 510px;
    padding-bottom: 0; /* unlike the top of the container, the search button gives the spacing hjere */
}

.nutrition_container, .vitamins_container {
    background-color: var(--white);
}

.nutritional_container tr, .nutrition_container h5, .vitamins_container h5 {
    color: var(--bg);
}

.table th, .table td {
    padding: 0;
}

table th, table td {
    font-size: 12px;
}

ul.ul {
  list-style-type: circle;
  list-style-position: inside;
  color: var(--white);
}

.notes_container {
    text-align: left;
}

.ingredient_row1 {
    border: 1px solid pink;
    min-height: 32px;
    overflow: hidden;
    margin: 1rem 0;
    vertical-align: middle; /* not working */
}

@media (max-width: 768px) { /*------- Media queries to make Ingredients search input fit all devices. */
#batch_total_section, #per_portion_total_section {
    margin-top: 0.5rem;
    }
}

/*   New Dish */

.input_nutrient_weight>input {
    width: 5ch;
}

.input_percent>input {
    width: 3ch;
}

.input_ingredient_weight { /* This class name needs to be changed as it applies to more than just ingredieint weights */
    width: 8ch;
    border: 1px solid var(--orange);
}

#ingredient_description { /* Max width the field can be to prevent it pushing other elements down opn mobile */
    width: 225px;
}

.new_dish_name_input { /* Max width the field can be to prevent it pushing other elements down opn mobile */
    width: 260px;
}

.new_dish_description_input {
    width: 100%;
}

div>ul>li {
    color: var(--white);
    text-align: left;
}