/*~~~~~~~~~~~~~~~~~~~~ Section Cards */
div .container { /* Narrows the two cards, but only required on larger screens */
    width: 60%;
}

div .card {
    background-color: var(--bg_cards);
}

.card-title {
    margin: 0;
}

div .card-body .btn {
    text-align: center;
}

/*------- Media queries to make cards fit all devices. */
@media (max-width: 1200px) {
div .container {
    width: 70%;
    }
}

@media (max-width: 992px) {
div .container  {
    width: 80%;
    }
}

@media (max-width: 576px) {
div .container  {
    width: 95%;
    }
}

/*-------------------------*/

p {
    margin-bottom: 1rem;
}