/*---------------------------------- Search Widget -- Start */
#search_container {
    border: 1px solid var(--white);
    width: 50%;
    margin: auto;
    border-radius: 8px;
    background-color: var(--white);
    padding-bottom: 0; /* unlike the top of the container, the search button gives the spacing hjere */
}

#section_ti h3{ /* ------- Search Widget title. */
    color: var(--bg); /* ------- Required because global colour is white, but this is on a white background so need black */
}

input.search_name_in { /* ------- User Search input field. */
    color: var(--bg);
    width: 95%;
    height: 2.5rem;
    margin: 10px 0;
    text-align: center;
    border: 2px solid var(--bg_trans);
    border-radius: 8px;
}

.advanced_container{
    padding: 0;
}

.collapse1 {     /*----- Advanced & Reset Buttons colours and positions in Search widget  */
    color: var(--orange);
    text-align: left;
    width: 95%;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1;
}

div.content { 
    padding: 0; /*  Required to give space between end of Substrate buttons and end of the search widget */
}


/*---------------------------------- Brick buttons */
.justify-content-md-center {
    width: 100%;
    margin: 0;
}

p.search_method { /*------- Brick Buttons Section title. */
    color: var(--bg);
    text-align: left;
    width: 95%;
    margin: 20px auto 10px auto;
    font-weight: 500;
    line-height: 1;
}

.col { /*------- Brick Buttons */
    border: 0.5px solid var(--orange);
    text-align: center;
    white-space: nowrap;
}


/*------- Buttons............ for here? */
a.btn { /*------- Creat a dish button. */
    width: 50%;
    margin: 1rem 0; /* needs to be adjusted to take mobile into account */
}

a.btn.button-image.mybutton{ /*------- Search widget "search" button. */
    width: 33%; /* needs to be adjusted to take mobile into account */
}

.mybutton:before{   /* . Adds image to the button. Related to .button-image:before in styles.css */
    background-image : url(https://i.imgur.com/2RYxoQ1.png);
}


/*------- Media queries to make Search widget and dish buttons fit all devices. */
@media (max-width: 1200px) {
#search_container, a.btn {
    width: 60%;
    }
}

@media (max-width: 992px) {
#search_container, a.btn {
    width: 70%;
    }
}

@media (max-width: 576px) {
#search_container, a.btn {
    width: 95%;
    }
}