#page_title_ingredient {
    color: green;
}
#page_title_portion {
    color: yellow;
}
.page_ti span {
    color: var(--white);
}

/*--------- Accordion Collapse / Expand ----------*/
#accordion .section_bg { /* Overrides the global padding in the collapse/expand sections as it is not required */
    padding: 0;
}

.card { /* Each collapse section is a card. This over rides styles.css */
    width: 100%;
}

/*--- Measurement Section ---*/


#measurement_checkbox_label { /*--- Over rides the default label black colour ---*/
    color: var(--white);
}

label { /* Over rides default. Prevents large space between it and rows beneath. */
    margin-bottom: 0;
}

.measurement_row_container_second, .measurement_row_container_third, .measurement_row_container_fourth { /*--- Use to put a space between measurement rows, left on PC, top on mobile. Applies to all bar the first ---*/
    margin-left: 0.5rem;
    }
@media (max-width: 1024px) {
    .measurement_container, .measurement_row_container {
        width: 275px;
        overflow: hidden;
    }
    .measurement_row_label {
        width: 140px;
    }
    .measurement_row_container_third, .measurement_row_container_fourth {
        margin-top: 0.5rem;
        margin-left: 0;
    }
    .measurement_row_container_second {
        margin-left: 0;
        margin-right: 200px;
    }
}
@media (max-width: 768px) {
    .measurement_row_container_second {
    margin-left: 0.5rem;
    margin-right: 0;
    }
    .measurement_row_container_third {
    margin-top: 0.5rem;
    margin-left: 0;
    }
    .measurement_row_container_fourth {
    margin-left: 0.5rem;
    }
}
@media (max-width: 650px) { /* 650px instead of 572 to allow for mobile in landsacape */
    .measurement_row_container_second, .measurement_row_container_third, .measurement_row_container_fourth {
    margin-top: 0.5rem;
    margin-left: 0;
    }

}


/*--- Lists ---*/
.section_in ul {
    padding: 0;
    margin: 0;
}

.section_in li {
    line-height: 30px;
}

/*---------------------------------- Nutrition & Allergens Section */

.nutrition_container, .inner_element_571 {
    margin: 0 auto;
}

.nutrition_container {
    background-color: var(--white);
    padding-bottom: 0; /* unlike the top of the container, the search button gives the spacing hjere */
}

.nutrition_container tr, .nutrition_container h5 {
    color: var(--bg);
}

.table th, .table td {
    padding: 0;
    font-size: 12px;
}

ul.ul {
  list-style-type: circle;
  list-style-position: inside;
  color: var(--white);
}

.notes_container {
    text-align: left;
}
/*----------------*/

/*   New Dish */

.new_dish_name_input { /* Max width the field can be to prevent it pushing other elements down opn mobile */
    width: 250px;
}

.new_dish_description_input {
    width: 100%;
}

div>ul>li {
    color: var(--white);
}

.section_bg.new_dish_save_btn {
    padding: 0;
}

/*------- Portions Section Start */

#batch_total_section {
    white-space:nowrap; /* needed? */
}

#batch_total_ti, #per_portion_ti {
    width: 70px;
    margin-left: 0.5rem; /* These need to be looked at as once size ain't fitting all */
}

#batch_total_ti2 { /* This class name needs to be changed as do possibly others surrounding */
    width: 130px;
}

.batch_total_section2{ /*------- Adds space between it and previous */
    margin-left: 50px;
}
@media (max-width: 768px) { /*------- removes 10% margin when bumped onto its own line. */
.batch_total_section2 {
    margin-left: 0;
    }
}

/*--- Used to align Measurements */
@media (max-width: 1100px) { 
.section_in>.batch_total_section3 {
    margin-right: 50%;
    margin-left: 0;
    margin-top: 0.5rem;
    }
}
@media (max-width: 768px) { 
.section_in>.batch_total_section3 {
    margin-right: 25%;
    }
}
@media (max-width: 415px) { 
.section_in>.batch_total_section3 {
    margin-right: 0%;
    }
}

            /*--- These control the input names for Measurements section width. ---*/
#batch_total_ti2.portions_p {
    width: 100px;
}
#batch_total_ti2.batch_p {
    width: 147px;
}
#batch_total_ti2.weight_p {
    width: 150px;
}

#batch_total_unit, #per_portion_unit {
    width: 1% 
}

#batch_total_ti p, #per_portion_ti p, #batch_total_unit p, #per_portion_unit p {
    font-size: 12px;
    line-height: 2.35; /* Makes them line-up with everything else on the row */ 
}

#batch_total_unit, #per_portion_unit {
    width: 2%;
    margin-left: 2px;
}

#ingredient_totals p {
    margin-top: 0.5rem;
}

.search_name_input {
    margin: 1rem auto;
}
/*--------*/

#portions_input {
    flex: 1;
}

#ingredient_search_input {
    width: 250px;
}

#portion .portion_totals_div h4 { /* Adds space between the ingredient name and its measurements beneath it */
    margin-top: 1rem;
}

#portion .ingredient_measurement_row { /* Adds spacing between the ingredients listed */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


/*---------------------------------- Brick buttons */

#cooking_section .card-body { /* Over rides the default top margin of 1rem to reduce space between top of the widget and the section heading */
    margin-top: 0;
}

#add_cooking_method_checkbox, #allergens_nut_checkbox {
    color: var(--white);
}

#portion .container { /* centres the "add another cooking method" */
    text-align: center;
}
/*--------*/