#search_page .hero_image {
    background-image: url(../graphics/Search_Image.jpg);
}

/*---------------------------------- Search Widget -- Start */
.search_container {
    border-radius: 5px;
    background-color: var(--white);
    margin: auto;
    overflow: hidden;
}

#search_widget_input {
    margin-top: 1rem;
    height: 30px;
    border: 1px solid var(--second_layer);
    border-radius: 5px;
}

.advanced_reset_buttons {
    color: var(--orange);
}

.container>.content1 { /* Allows the Advanced section in search widget to show closed when page is landed on */
    display: none; 
}


/*--------- Results Section --------*/
.results>.section_header_bg {
    background-color: var(--orange);
}

.results .row_icon_container {
    color: var(--white);
}

.results .row_icon_container .alignR {
    text-align: right; /* alignR class not working from html so this is here */
}

.card-body .row_icon_container {
    color: var(--orange);
}



.results_section_name, .results_count {
    line-height: 30px; /* Keeps the contents verically centered */
}

#ingredient_results>.results_row {
    margin-top: 0.5rem;
}

#ingredient_results_ingredients {
    color: var(--white);
}

/*---------------------------------- Brick buttons */

#search h6.search_advanced_section_title { /*--- Over rides default colour of white for h6 */
    color: var(--bg);
}
/*--------*/
