/*---------------------------------- Search Widget -- Start */
.search_container {
    border-radius: 8px;
    background-color: var(--white);
    padding-bottom: 0; /* unlike the top of the container, the search button gives the spacing here */
}

#page_ti h3 { /* As it behaves as a page title, it's given h2 sizing. #page_ti needed to isloate it */
    font-size: 27px;
    font-weight: 600;
}

@media (max-width: 576px) {
    .tt .section_ti h3 {
        font-size: 24px;
    }
}

.search_ti h3{ /* ------- Search Widget title. */
    color: var(--bg); /* ------- Required because global colour is white, but this is on a white background so need black */
}

.mybutton:before{   /* . Adds image to the "Search" button. Related to .button-image:before in styles.css */
    background-image : url(https://i.imgur.com/2RYxoQ1.png);
}

input.search_name_in { /* ------- User Search input field. */
    color: var(--bg);
    height: 2.5rem;
    margin: 10px 0;
    text-align: center;
    border: 2px solid var(--bg_trans);
    border-radius: 8px;
}

.advanced_container{
    padding: 0;
}

.advanced_reset_buttons {     /*----- Advanced & Reset Buttons colours and positions in Search widget  */
    color: var(--orange);
    text-align: left;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1;
}


/*---------------------------------- Brick buttons */
.justify-content-md-center {
    width: 100%;
    margin: 0;
}

p.advanced_option { /*------- Brick Buttons Section title. */
    color: var(--bg);
    text-align: left;
    margin: 20px auto 10px auto;
    font-weight: 500;
    line-height: 1;
}

.col { /*------- Brick Buttons */
    border: 0.5px solid var(--orange);
    text-align: center;
    white-space: nowrap;
}

.container .content1 { 
    display: none; /* Allows the Advanced section in search widget to display closed */
}

#search_title {
    margin: 0.5rem auto;
}

h6.advanced_option { /* Default font color is white. This is black as it's on a white background */
    color: var(--bg);
}

#results_numbers_bg {
    background-color: var(--orange);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.results_in {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.results_in_row {
}