@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Parisienne&family=Roboto:wght@100;300;400;500;700&display=swap');

/*~~~~~~~~~~~~~~~~~~~~ Pages Set-up */
* {-webkit-font-smoothing: antialiased;}

* {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

/*--- Global Widths ---*/
body {
    width: 100%;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 992px) {
main {
    width: 90%;
    margin: 0 auto;
    }
}
@media (max-width: 572px) {
main {
    width: 95%;
    margin: 0 auto;
    }
}

            /*--- Inner Elements such as buttons and the Search Widget ---*/

.inner_element_245 { /* Width: 25% on PC, 40% on tablet, 50% on mobile */
    width: 25%;
}
@media (max-width: 992px){
    .inner_element_245 {
        width: 40%;
    }
}
@media (max-width: 576px){ /*Screen shize choosen so that it applies only to mobile */
    .inner_element_245 {
        width: 50%;
    }
}

.inner_element_567 { /* Width: 50% on PC, 62.5% on tablet, 75% on mobile */
    width: 50%;
}
@media (max-width: 992px){
    .inner_element_567 {
        width: 62.5%;
    }
}
@media (max-width: 576px){  /*Screen shize choosen so that it applies only to mobile */
    .inner_element_567 {
        width: 75%;
    }
}

.inner_element_571 { /* Width: 50% on PC, 75% on tablet, 100% on mobile */
    width: 50%;
}
@media (max-width: 992px){
    .inner_element_571 {
        width: 75%;
    }
}
@media (max-width: 576px){  /*Screen shize choosen so that it applies only to mobile */
    .inner_element_571 {
        width: 100%;
    }
}

.inner_element_579 { /* Width: 50% on PC, 75% on tablet, 95% on mobile */
    width: 50%;
}
@media (max-width: 992px){
    .inner_element_579 {
        width: 75%;
    }
}
@media (max-width: 576px){  /*Screen shize choosen so that it applies only to mobile */
    .inner_element_579 {
        width: 95%;
    }
}
/*--------*/

/*--- Colours & Fonts ---*/
:root {
    --first_layer: #202224;
    --second_layer: #1b1c1d;
    --third_layer: #121213;
    --trans_black: rgba(0, 0, 0, 0.75);
    --orange: rgb(239, 128, 26);
    --white: rgb(254, 254, 253);
}

body {
    background-color: var(--first_layer);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--white);
    margin: 0;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 23px;
}
h5{
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5{
        font-size: 14px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
}
/*--------*/

/*--- Global Positioning ---*/

.alignL {
    text-align: left;
}
.alignC {
    text-align: center;
}
.alignR {
    text-align: right;
}

.floatL {
    float: left;
    margin-right: 0.5rem;
}

.floatR {
    float: right;
    margin-left: 0.5rem;
}

.clear {
    clear: both;
}

.clearL {
    clear: left;
}
/*--------*/


/*--- Page Sections ---*/
.section_bg { /*------- Layer 2 that sits on top of the Body */
    margin: 1rem auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--second_layer);
    border-radius: 8px;
}

.section_in { /*------- Background Inner to allow equal spacing within the section_bg and others. */
    width: 95%;
    margin: 0 auto;
    min-height: 30px;
    overflow: hidden;
    align-items: center;
}

.section_header_bg { /*---Currently used in Search Results Sections ---*/
    height: 30px;
    width: 100%;
}

.section_in h3, .section_in h4 {
    margin: 0;
}

.section_in h3{
    line-height: 30px;
}

.collapse {
    width: 100%;
}

.container { /* Required to align elements in a row within a section */
    padding: 0; /* Removes default Container padding left & right */
    margin: 0.5rem auto;
}

.row_icon_container {
    flex: 0 0 35px;
    content: '';  
    font-family: FontAwesome;
    line-height: 1;       
    color: var(--orange);
    font-size: 25px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
}
.row_icon_container.alignL {
    margin-left: 0;
}


.page_section_name { 
    flex: 1; 
    margin: 0 5px;
}

.collapse_arrow:after {  /* Used in section headings to insert an arrow icon facing DOWN */           
    content: "\f063"; 
}

.collapse_arrow.collapsed:after {    /* Used in section headings to insert an arrow icon facing UP */ 
    content: "\f062";
} 

.plus_icon:after {         
    content: "\f067";
    line-height: 1.2; /* Used to align the icon with the title. Not good. */
    font-size: 25px;
}

.delete_icon:after {
    content: "\f014";
}

.info_icon:after {
    content: "\f05a";
}

.eye_icon:after {
    content: "\f06e";
}


/*--- Button Specific ---*/
.btn {
    margin: 0 auto;
    min-height: 40px;  /*------ Keeps text only buttons at same height as ones with an icon */
}

a.btn {
    margin: 1rem auto;
}

.btn, .button-image {   /* button-image required for positioning of search button in hero section */
    background-color: var(--orange);
    color: var(--white);
    /* font-weight: bold;  font weight to be check */
}

.button-image:before { /* Code to insert an icon into a button from Jean-Francois Gilbert https://codepen.io/jfgilbert/pen/LppbLz. Images on specific page css files. */
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.mybutton:before{   /* ????  Image on the. Each button has it's own image and is listed in required css files. */
    background-size: contain;
}

.mybutton:before{   /* . Adds image to the "Search" button. Related to .button-image:before in styles.css */
    background-image : url(https://i.imgur.com/2RYxoQ1.png);
}

div.card-body>.btn { /*---- Required to override Bootstrap default left alignment ----*/
    margin: 0 auto;
}

@media (max-width: 576px){ 
    .cardR { /* puts a space between card when stacked in mobile view only */
        margin-top: 0.5rem;
    }
}

/*--------*/


/*--- Page Rules ---*/
.rule {
    background-color: var(--orange);
    margin: 1em auto;
}

.header_rule{
    width: 100%;
    height: 3px;
    margin-top: 0;
}

.section_rule {
    width: 25%;
    height: 1px
}
@media (max-width: 576px) {
    .section_rule {
        width: 50%;
    }
}

.card_rule {
    width: 50%;
    height: 1px;
}
/*--------*/

/*-------- Global Inputs -----*/
.input_nutrient_weight>input {
    width: 5ch;
}

.input_percent>input {
    width: 3ch;
}

.input_weight_number { /* This class name needs to be changed as it applies to more than just ingredieint weights */
    width: 8ch;
    border: 1px solid var(--orange);
}
/*--------*/

/*--- Navbar ---*/

.navbar{
    padding: 0 2rem;
}

.navbar_container {
    width: 100%;
}

#gizabite_logo {
    top: 0.75rem;
    left: 10%;
    height: 3rem;
}

@media (max-width: 820px) {
#gizabite_logo {
    top: 1rem;
    left: 5%;
    height: 2.5rem;
 }
}

.navbar-nav .nav-link {
    color: var(--orange);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(239, 128, 26)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 1px solid var(--orange);
}

.nav-item {
    text-align: left;
}

.navbar-nav .active .nav-link {
    color: var(--white);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(239, 128, 26)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--orange);
} 
/*--------*/

/*--- Hero Image Start ---*/

.hero_image {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    animation-name: hero_zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#about .hero_image { /* Included here because "About" page has no css file of its own */
    background-image: url(/assets/graphics/Index_Image.jpg);
}

.hero_outer {
    Height: 30vh;
    width: 100vw;
    overflow: hidden; 
    position: relative;
}

@keyframes hero_zoom { /*-- "hero-zoom" is an arbiotrary name I selected. It's required to ID the zoom--*/
    from {transform: scale(1.1)}
    to {transform: scale(1)}
}

#hero_text_container {
    max-width: 90%;
    position: absolute;
    top: 25%; /* Positioning the hero text vertically. Done by eye so not exact */
    left: 0;
    right: 0;
    margin: 0 auto;
}

h2.hero_text {
    font-family: 'Parisienne', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 0 var(--first_layer);
}
@media (max-width: 576px) {
    h2.hero_text  {
        font-size: 35px;
    }
}

@media (max-width: 576px) {

    .hero_image {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .hero_outer #hero_text{
    width: 75%;
    }
}

#hero_search_container {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 5%;
    left: 0;
    right: 0;
    padding: 0;
    border-radius: 0;
    background-color: var(--trans_black);
}

#hero_search_section_in {
    width: 400px;
}
@media (max-width: 768px) {
#hero_search_section_in {
    width: 310px;
    }
}

#hero_search_inner {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

#hero_search_input {
    margin: 10px 0 0 0; /* used to centre the input vertically relative to the button. Done by eye... */
    width: 80%;
}

.hero_search_inner_element a#hero_search_button.button-image { /* The background section of the search buttoin in the hero section */
    margin: 8px 0 0 0;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}

#hero_search_button.mybutton:before{   /* . Adds image to the "Search" button in the hero section. Related to .button-image:before*/
    max-height: 30px;
    width: 27px;
}


#hero_search_rule { /* Rule positioned beneath the search input and button in the hero image */
    height: 1px;
    margin: 0.5rem 0;
}
/*--------*/


/*--- Page Cards ---*/

.card {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--second_layer);
}

.card-header, .card-body {
    padding: 0;
    margin: 0 auto;
}

.card-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-link, .results_row, .bricks_container {
    display:flex;
    align-items: center;
    margin: 0 auto;
}
.results_section_name, .results_count, .results_row_name, .results_row_description {
    flex:1;
}
/*--------*/

/*--- Action Icons Bar ---*/
#action_icons_bar {
    padding-bottom: 0; /* Over rides the global padding. Required as the bar was too deep and affected aesthetic positioning of the rule */
}

.back_button, .print_button {
    border: none;
    background-color: var(--second_layer);
}

.fa-arrow-left:before, .fa-print:before {
    font-size: 40px;
    color: var(--orange);
}

.print_icon:after {   
    font-size: 40px;      
    content: "\f02f";
    color: var(--orange);
}

/*--- Brick Sections ---*/

.bricks_container {
    flex-wrap: wrap;
}

.brick { /*------- Brick Buttons */
    border: 0.5px solid var(--orange);
    background-color: var(--white);
    text-align: center;
    flex: 1 1 auto;
    height: 30px;
}

.brick p{
    color: var(--first_layer);
    margin: 0 1rem;
    line-height: 30px;
}

.justify-content-md-center {
    width: 100%;
    margin: 0;
}

.search_advanced_section { /*--- Section within the Search Widget advanced dropdown ---*/
    padding: 0;
}

h6.search_advanced_section_title { /*--- Over rides default colour of white for h6 */
    margin: 0.5rem 0 0.25rem 0;
}

/*--- Footer ---*/

footer {
    width: 100%;
    background-color: var(--second_layer);
    min-height: 150px;
}

.footer_row {
    display: flex;
    margin: 1rem auto;
    text-align: center;
}

.footer_link {
    flex: 1;
}

.footer_icon_row {
    width: 200px;
    margin: 0 auto;
}

.sm_icon {
    color: var(--orange);
    font-size: 35px;
    margin: 0 0.5rem;
}

.footer_row p {
    margin: 0 auto;
}

