@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700&display=swap');

/*~~~~~~~~~~~~~~~~~~~~ Pages Set-up */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 992px) {
main {
    width: 90%;
    margin: 0 auto;
    }
}

:root {
    --bg: rgb(0, 0, 0, 0.9);
    --bg_trans: rgb(0, 0, 0, 0.3);
    --bg_cards: rgb(0, 0, 0, 0.5);
    --orange: rgb(239, 128, 26);
    --white: rgb(254, 254, 253);
}

body {
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~ Page Sections */
.section_bg {
    margin: 2% auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--bg_trans);
    border: 1px solid red; /*-- for visual purposes in dev */
    border-radius: 8px;
}

.section_in {
    margin: 0 auto;
    width: 95%;
}

.collapsible {
    color: red;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.active, .collapsible:hover {
    font-weight: 900; /*  Wrong font weight, but idea is correct */
}


.collapse2:after {             
    content: '';  
    font-family: FontAwesome;
    content: "\f063"; 
    color: var(--orange);
    font-weight: bold;
    font-size: 25px;
    float: right;
    margin-left: 5px;
    line-height: 1;
}

.active:after {    
    content: "\f062";
} 

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


.btn {
    /* width: 200px; This isn't right. Needs to be responsive */
    margin: auto;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~~ Page Rules */
.rule {
    background-color: var(--orange);
    margin: 1em auto;
}

.header_rule{
    width: 100%;
    height: 3px;
    margin-top: 0;
}

.section_rule {
    width: 25%;
    height: 1px
}

.card_rule {
    width: 50%;
    height: 1px;
}

/*~~~~~~~~~~~~~~~~~~~~ Navbar */

.navbar{
    padding: 1rem 2rem;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--orange); 
}

.navbar-light .navbar-nav .nav-link.active{
    color: var(--white);
}

#gizabite_logo {
    position: absolute;
    top: 0.75rem;
    left: 10%;
    height: 3rem;
}

@media (max-width: 820px) { /*-- This needs to match the figure in the "Navbar" media query --*/
#gizabite_logo {
    position: absolute;
    top: 1rem;
    left: 5%;
    height: 2.5rem;
 }
}

/*~~~~~~~~~~~~~~~~~~~~ Hero Image Start */

.hero_image {
    background-image: url(https://i.imgur.com/rNHT0wI.png);
}

.hero_image {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    animation-name: hero_zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.hero_outer {
    Height: 30vh;
    width: 100vw;
    overflow: hidden; 
    position: relative;
}

@keyframes hero_zoom { /*-- "hero-zoom" is an arbiotrary name I selected. It's required to ID the zoom--*/
    from {transform: scale(1.1)}
    to {transform: scale(1)}
}

.hero_outer #hero_text{
    width: 500px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hero_outer #hero_text h2{
    text-shadow: 2px 2px 0 var(--bg);
}

@media (max-width: 576px) {

    .hero_image {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-image: url(https://i.imgur.com/wItTgme.png);
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .hero_outer #hero_text{
    width: 75%;
    }
}